/*--RESPONSIVE TABLETTE--*/

@media screen and  (min-width: 768px) and (max-width: 992px) {

 

body {
   display: flex;
   flex-direction: column;
}
      
header { 
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   text-align: center;
   margin-left: 2.5vw; 
   margin-right: 2.5vw; 
}
   
.logo_booki {
   padding-left: 20px;
}

nav { 
   display: flex;
   flex-direction: row;
   align-items: center; 
}

.ancre_menu {
   display: flex;
   display: inline-block;
   flex-direction: row;
   justify-content: space-around;   
   padding: 50px;
   border-top: 2px white solid;
}

.ancre_menu:hover {
   border-top: 2px #0065fc solid;
   color:#0065fc;
}
   
.logo_booki {
   padding-left: 0; /*permet de centrer le logo au milieu des deux ancres du menu*/
}


h1 {
   font-size: 20px;
}

.titre2_accueil {
    font-size: 18px;
}


h2 {
   font-size: 18px;
}

.icone_info {
   padding: 2px 5px 2px 5px;
}

/*--FORMULAIRE--*/
   
   
   .formulaire {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 2rem;
   }
   
   .icone_localisation {
      width: 10%;
   }
   
   .texte_formulaire {
      width: 75%;
      font-size: 14px;
      text-align: unset;
      padding-left: 1rem;
   }
   
   .bouton_formulaire {
      width: 11%;
      border: 18px #0065fc solid;
      border-radius: 18px;
      height: 100%;
      font-size: 14px;
   }
   
   .texte_bouton {
      display: none;
   }

   .bouton_formulaire i {
      display: inline-block;
    }       /*icône recherche*/



/*--FILTRES/THEMES--*/


.container_info_filtres {
   display: flex;
   flex-direction: column-reverse;
   margin-bottom: 2rem;
}

.container_filtres { 
   display: flex;
   flex-direction: row;
   justify-content: start;
   flex-wrap: wrap;
   gap: 1rem;
   align-items: center;
   width: 100%;
}

.themes {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   border-radius: 35px;
   margin-top: 0;
   margin-bottom: 0;
}

.cta_filtres {
   font-size: 14px;
   font-weight: 800;
   display: inline-block;
   text-align: center;
   margin: 0 1.1rem 15px 0;
   border: 2px solid #D7D7D7;
   border-left: none;
   box-sizing: border-box;
   border-radius: 50px;
   background: linear-gradient(to right, #ffff 50%, #0065fc 50%);
   transition: background-position 0.3s;
   box-shadow: 0 0 0px transparent;
   background-size: 203% 100%;
 }
 
.economiques {
   width: 55%;
}

.familial {
   width: 40%;
}

.romantique {
   width: 82%;
}  

.animaux_autorises {
   width: 65%;
}    


/*--SECTION HEBERGEMENTS--*/


.container_hebergements_populaires {
   display: flex;
   flex-direction: column-reverse;
   gap: 3rem;
   border-radius: 20px;
   margin-bottom: 4rem;
   gap: 1.9rem;
}

#hebergements {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding-left: 1rem;
   padding-right: 1rem;
 }
 .galerie_figures {
   margin-bottom: 0;
}

.images_cartes {
   height: 14.7rem;
}


 /*--SECTION LES PLUS POPULAIRES--*/



.populaires {
   width: 100%;
   background-color: white;

}


 .en_tete_populaires {
   margin-left: 0;
   padding-right: 1rem;
 }

.titre_en_tete_populaire  {
  font-size: 18px;
}

.fa-chart-line {
   font-size: 19px;
}
 
 .galerie_cartes_populaires {
   padding-left: 0;
   padding-right: 1rem;
 }

 .infos_populaires {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: white;
   padding-bottom: 0.5rem;
   border: 3px white solid;
   border-radius: 0 20px 20px 0;
   width: 60%;
 }
 
 .nom_tarif {
   font-size: 18px;
}

 .prix_nuit_populaires {
   display:inline-block;
   line-break: auto;
 }
 
 .images_cartes_populaires {
   width: 60%;
   height: 15rem;
 }


/*--ACTIVITES--*/

.nom_activite {
  
   padding-top: 0.5rem;
   padding-bottom: 1rem;
   
 }

.moitie_droite .carte_activite:nth-of-type(1) {
   height: 55%;                                             /*carte2*/
 }              