/*--------RESPONSIVE MOBILE--------*/



@media screen and (max-width: 768px) {

body {
   display: flex;
   flex-direction: column;
}
    
h1 { 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: baseline;
   flex-wrap: nowrap;
   font-size: 20px;
   padding-top: 20px;
}

h2 {
   font-size: 17px;
}

.titre2_accueil {
   font-weight: normal;
   font-size: 15px;
}

h3 {
   width: 100%;
   font-size: 15px;
}





header {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content:center;
   align-items: center;
}
    
nav {   
   width: 100%;
}  

.ancre_menu {
   padding-bottom: 20px;
   border-top: 2px white solid;
   border-bottom: 2px white solid;
   width: 50%;
   font-size: 15px;
}

.ancre_menu:hover {
   border-top: 2px white solid;
   border-bottom: 2px #0065fc solid;
   color:#0065fc;
}

.logo_booki {
   padding-left: 0; /*permet de centrer le logo au milieu des deux ancres du menu*/
}
    
.icone_info {
   padding: 2px 7px 2px 7px;
}



/*--FORMULAIRE--*/


.formulaire {
   display: flex;
   flex-direction: row;
   width: 100%;
}


.icone_localisation {
   width: 10%;
}

.texte_formulaire {
   width: 75%;
   font-size: 15px;
   text-align: unset;
   padding-left: 1rem;
}

.bouton_formulaire {
   width: 11%;
   border: 18px #0065fc solid;
   border-radius: 18px;
   height: 100%;
   font-size: 17px;
   
}

.texte_bouton {
   display: none;
}

.bouton_formulaire i {
   display: inline-block;
 }       /*icône recherche*/


.div_titres_accueil {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 15px;
}



/*--FILTRES--*/

.container_info_filtres {
   display: flex;
   flex-direction: column-reverse;
   margin-bottom: 2rem;
}

.container_filtres { 
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 1rem;
   align-items: center;
   width: 100%;
}

.themes {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   border-radius: 35px;
   margin-top: 0;
   margin-bottom: 0;
}

.cta_filtres {
   font-size: 15px;
   font-weight: 800;
   display: inline-block;
   text-align: center;
   margin: 0 1.1rem 15px 0;
   border: 2px solid #D7D7D7;
   border-left: none;
   box-sizing: border-box;
   border-radius: 50px;
   background: linear-gradient(to right, #ffff 50%, #0065fc 50%);
   transition: background-position 0.3s;
   box-shadow: 0 0 0px transparent;
   background-size: 203% 100%;
 }
 
.economiques {
   width: 55%;
}

.familial {
   width: 40%;
}

.romantique {
   width: 82%;
}  

.animaux_autorises {
   width: 65%;
}    

/*--HEBERGEMENTS--*/

.container_hebergements_populaires {
   display: flex;
   flex-direction: column-reverse;
   justify-content: space-between;
   border-radius: 20px;
   background: white;
   margin-bottom: 40px;
   margin-left: 0; 
   margin-right: 0; 
}

#hebergements {
   padding-left: 0;
   padding-right: 0;
   width: 100%;
   background-color: white;
}

.galerie_figures {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
   margin-left: 0;
   margin-right: 0;
   padding-left: 0;
   padding-right: 0;
}

.carte_section_hebergements {
   width: 100%;
   margin-bottom: 2rem;
}
.afficher_plus {
      background: white;
 }

/*--LES PLUS POPULAIRES--*/

.populaires {
   display: flex;
   flex-direction: column;
   background: #F2F2F2;
   border-radius: 0;
   width: 100%;
   padding-left: 0;
   padding-right: 0;
}

.en_tete_populaires {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-weight: bold;
   padding-left: 1rem;
   padding-right: 1rem;
}
               
.titre_en_tete_populaire {
   font-size: 17px;
}              

.galerie_cartes_populaires {
   display: flex;
   flex-direction: column;
   margin-top: 2.15rem;
   padding-left: 0;
   padding-right: 0;
 }

 .figures_populaires {
   display: flex;
   flex-direction: row;
   justify-content: center;
   border-radius: 20px;
   width: 100%;
 }
  
.cartes_populaires {
   width: 95%
}

.images_cartes_populaires {
   border: 5px white solid;
   border-radius: 20px 0 0 20px;
   width: 100%;
   object-fit: cover;
   height: 10rem;
 }
  


/*--ACTIVITES--*/


#container_activites {
   flex-direction: column;
   justify-content: space-between;
   gap: 0;
   height: fit-content;
 }
  
                       
 #container_activites .carte_activite {
   height: 15rem;
   margin-bottom: 4rem;
 }    
 
 /*--------BLOCS--------*/  
 
 
 .bloc_gauche, .bloc_droite {
   flex-direction: column;
   width: 100%;
   height: 50%;
   gap: 0;
 }
 
 .moitie_gauche {
   width: 100%;
   height: 50%;
}
 
 .moitie_droite {
   width: 100%;
   height: 50%;
}
 
 .nom_activite {
   padding-left: 1rem;
   padding-top: 1rem;
   
 }
    
 .carte_activite img {
   height: 76%; 
   width: 100%;                                             /*image carte2*/
 }                                           
 
           
 
/*-- FOOTER--*/

footer { 
   
   flex-direction: column;
}


.blocs_footer { 
   display: flex;
   flex-direction: column;
   justify-content: space-around; 
   padding-left: 1rem;
}

.titres_footer {
   font-size: 16px;
}

.ancres_footer {
   line-height: 2rem;
   font-weight: 400;
   font-size: 16px;
}
 









}