/*--------RESPONSIVE MOBILE--------*/



@media screen and (max-width: 768px) {

body {
   display: flex;
   flex-direction: column;
   

}
    
header {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content:center;
   align-items: center;
   
}
    
nav {   
   width: 100%;

}  

.ancre_menu {
   padding-bottom: 20px;
   border-top: 2px white solid;
   border-bottom: 2px white solid;
   width: 50%;
   font-size: 18px;
}

.ancre_menu:hover {
   border-top: 2px white solid;
   border-bottom: 2px #0065fc solid;
   color:#0065fc;

}

.logo_booki {
   padding-left: 0; /*permet de centrer le logo au milieu des deux ancres du menu*/

}
    
    
/*--FORMULAIRE--*/


.formulaire {
   display: flex;
   flex-direction: row;
   width: 100%;
}


.icone_localisation {
   width: 10%;
}

.texte_formulaire {
   width: 80%;
   font-size: 17px;
   text-align: unset;
   padding-left: 4rem;
}

.bouton_formulaire {
   width: 10%;
   border: 5px #0065fc solid;
   border-radius: 12px;
}

.texte_bouton {
   display: none;
}

.div_titres_accueil {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 25px;
}


h1 { 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: baseline;
   flex-wrap: nowrap;
   font-size: 18px;
   padding-top: 20px;
   font-size: 33px;
}

h2 {
   font-size: 18px;
}
.titre2_accueil {
   font-weight: normal;
   font-size: 18px;
}


h3 {
   width: 100%;
   font-size: 17px;
}

.container_info_filtres {
   display: flex;
   flex-direction: column-reverse;
   margin-bottom: 2rem;
   }


.container_filtres { 
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-bottom: 3%;
   margin-top: 3%;

}

.themes {
   display: flex;
   flex-direction: row;
   border: 1px grey solid;
   border-radius: 35px;
   margin-top: 10%;
   margin-bottom: 7%;

}
.icones_themes {
   background-color: rgb(161, 191, 255);
   border: 1px rgb(161, 191, 255);
   border-radius: 35px;

}

.economiques {
   width: 55%;

}

.familial {
   width: 40%;

}

.romantique {
   width: 82%;

}  

.animaux_autorises {
   width: 65%;

}    

.container_hebergements_populaires {
   display: flex;
   flex-direction: column-reverse;
   justify-content: space-between;
   border-radius: 20px;
   background: white;
   margin-bottom: 40px;
   margin-left: 0; 
   margin-right: 0; 
}

#hebergements {
   padding-left: 0;
   padding-right: 0;
   width: 100%;
   background-color: white;
}

.galerie_figures {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
   margin-left: 0;
   margin-right: 0;
   padding-left: 0;
   padding-right: 0;
}


.populaires {
   display: flex;
   flex-direction: column;
   background: #F2F2F2;
   border-radius: 0;
   width: 100%;
   }

.en_tete_populaires {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-weight: bold;
   margin-left: 50px;
}


.carte_section_hebergements {
   width: 100%;
   margin-bottom: 2rem;
}








#container_activites {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-around;
   border-radius: 20px;
   width: 100%;
  
   border: 1px red solid;
}

#container_activites article {
   width: 100%;
   margin-bottom: 2rem;
   display: flex;
   flex-direction: column;
   
}

.bloc_gauche {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: unset;
   border: 18px red solid;
}
.bloc_droite {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: unset;
   border: 18px pink solid;
}

.moitie_gauche {
   width: 100%;
   height: unset;
}

.moitie_droite {
   width: 100%;
   height: unset;
}

.moitie_gauche, .carte_activite {
   height: unset;

}

.image_activite {
   height: 74%;

}


footer {
   display: flex;
   flex-direction: column;  
   justify-content: center;
   align-items: flex-start;
   padding-right:45px;  
   padding-left: 20px;
   
}

.blocs_footer {
   min-width:250px;

}

.titres_footer {
   min-width:250px;
   padding-right:45px;
   font-size: 18px;
}
    
footer a {
   font-size: 18px;

}






}