/*--------SECTION ACTIVITES--------*/    
.titre_activites {
  font-size: 17px;
}

#container_activites {
  display: flex;
  flex-direction: row;
  gap: 4%;
  border-radius: 20px;
  margin-top: 3rem;
  width: 100%;
}
  

/*--------BLOCS--------*/  


.bloc_gauche {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 37rem;
}

.bloc_droite {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 37rem;
}


.moitie_gauche {
  width: 47%;
  box-shadow: 5px 5px 15px lightgrey; 
  border-radius: 20px;
  margin-right: 3rem;
  height: 37rem;
}

.moitie_droite{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 47%;
  height: 37rem;
}


/*--------CARTES (GENERAL)--------*/  


#container_activites article {
  box-shadow: 5px 5px 15px lightgrey; 
  border-radius: 20px;
}

.nom_activite {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#container_activites img {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}


/*--------CARTES GAUCHE--------*/  



.bloc_gauche .moitie_gauche .image_activite {
  width: 100% ;
  height: 91%;
}

.bloc_gauche .moitie_droite article:nth-of-type(1) img  {
  width: 100% ;
  height: 86%;
}

.bloc_gauche .moitie_droite article:nth-of-type(1) {
  width: 100% ;
  height: 60%;
  }

.bloc_gauche .moitie_droite article:nth-of-type(2) img {
  width: 100% ;
  height: 74%;
}

.bloc_gauche .moitie_droite article:nth-of-type(2)  {
  width: 100% ;
  height: 30%;
 
}
    
.bloc_gauche .moitie_droite article:nth-of-type(1)  {
  margin-bottom: 3rem;
}


/*--------CARTES DROITE--------*/  



.bloc_droite .moitie_gauche img {
  width: 100% ;
  height: 91%;
}

.bloc_droite .moitie_droite article:nth-of-type(1) img {
  width: 100% ;
  height: 74%;
}
  
.bloc_droite .moitie_droite article:nth-of-type(2) img {
  width: 100% ;
  height: 85%;
}

.bloc_droite .moitie_droite .carte_activite:nth-of-type(1) {
  height: 32%;

}
.bloc_droite .moitie_droite .carte_activite:nth-of-type(2) {
  height: 58%;
}
