


.container_hebergements_populaires {
  display: flex;
  flex-direction: row;
  gap: 1.9rem;
  border-radius: 20px;
  margin-bottom: 4rem;
}
.container_hebergements_populaires p {
  font-size: 15px;
}
 
/*--------HEBERGEMENTS--------*/


#hebergements {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  background: #F2F2F2;
  width: 65%;
}
 
 .galerie_figures {
  display: flex;
  flex-direction: row;
  gap: 1.9rem;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
 
.carte_section_hebergements {
  width: 30%;
  border-radius: 20px;
  margin-bottom: 2.5rem;
  box-shadow: 5px 5px 15px lightgrey;
  background-color: white;
  text-decoration: none;
  color: black;
}
 
.figures{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;  
}
 
.images_cartes {
  border: 5px white solid;
  border-radius: 20px 20px 0 0;
  max-width: 100%; /* force les images à ne pas déborder du cadre de la figure*/
  object-fit: cover;
  height: 8.5rem;
}

.infos_hebergement {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

.nom_tarif {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.1rem;
}

.etoiles_populaires {
  margin-top: auto;
}

.fas.fa-star.star-bleu {
  color: #0065fc;
}

.fas.fa-star {
  color:  #D7D7D7;
}

.afficher_plus {
  border: none;
  font-family: "Raleway";
  font-size: 15px;
  font-weight: 700;
  text-align: start;
  background: #F2F2F2;
  cursor: pointer;
}

 
 /*--SECTION POPULAIRES--*/
 
 
.populaires {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 30%;
  background-color: #F2F2F2;
  padding-top: 2rem;
  padding-right: 1.9rem;
  padding-left: 1.9rem;
}
 
.en_tete_populaires {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}

.titre_en_tete_populaires {
  font-size: 17px;
}

 .fa-chart-line {
  font-size: 17px;
}

.galerie_cartes_populaires {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.9rem;
}
 
.cartes_populaires {
  border: 1px white solid;
  border-radius: 20px;
  margin-bottom: 2.5rem;
  box-shadow: 5px 5px 15px lightgrey;
  background-color: white;
  width: 100%;
}

.figures_populaires {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  width: 100%;
}
 
.infos_populaires {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-bottom: 0.5rem;
  border: 3px white solid;
  border-radius: 0 20px 20px 0;
  width: 60%;
}

.prix_nuit_populaires {
  display:inline-block;
  line-break: auto;
}

.etoiles_populaires {
  display: flex;
  margin-top: auto;
}

.nom_tarif {
  padding-top: 0.5rem;
}

.images_cartes_populaires {
  border: 4px white solid;
  border-radius: 20px 0 0 20px;
  width: 34%;
  object-fit: cover;
  height: 10rem;
}

