/*--------FILTRES/THÈMES--------*/


.container_filtres { 
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  width: 100%;
  margin-bottom: 3%;
  margin-top: 3%;
}
 

.cta_filtres {
  font-size: 15px;
  font-weight: 800;
  display: inline-block;
  text-align: center;
  margin: 0 1.1rem 15px 0;
  border: 2px solid #D7D7D7;
  border-left: none;
  box-sizing: border-box;
  border-radius: 50px;
  background: linear-gradient(to right, #ffff 50%, #0065fc 50%);
  transition: background-position 0.3s;
  box-shadow: 0 0 0px transparent;
  background-size: 203% 100%;
}

.cta_filtres:hover {
  background-position: 98% 0%;
  color: #ffff;
  border-color: transparent;
}

.cta_filtres>a, a:visited {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  min-height: 100%;
  padding: 15px 12px 15px 0;
}

.cta_filtres>a>i.fas {
  color: #0065fc;
  margin-right: 12px;
}

.cta_filtres i.fas::before {
  display: inline-block;
  border-radius: 100%;
  background-color: #e0edff;
  padding: 16px 16px;
  height: auto;
  margin-top: -2px;
  margin-bottom: -2px;
  margin-left: -3px;
}

 .themes {
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  align-items: center;
}
            
 .icones_filtres {
  color: #0065fc;
  border: #0065fc;
  background-color: rgb(209, 223, 255);
  border: 10px rgb(209, 223, 255) solid;
  border-radius: 50px;
  min-width: 1.5rem;   
  font-size: 1.5em;
} 

.titres_filtres { 
  padding: 0 1rem;
}




