/*--------HEADER--------*/


header { 
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin-left: 2.5vw; 
   margin-right: 2.5vw; 
}
  
.logo_booki {
   padding-left: 20px;
}

nav { 
   display: flex;
   flex-direction: row;
   align-items: center; 
}

.ancre_menu {
   display: flex;
   flex-direction: row;
   justify-content: space-around;   
   padding: 50px;
   border-top: 2px white solid;
   font-size: 15px;
}

.ancre_menu:hover {
   border-top: 2px #0065fc solid;
   color:#0065fc;
}