/*--------FILTRES/THÈMES--------*/


.container_filtres { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin-bottom: 3%;
  margin-top: 3%;
     
 }
 
 .cta_filtres {
   border:1px white solid;
   background-color: white;
   
 }

 .themes {
   display: flex;
   flex-direction: row;
   border: 2px lightgrey solid;
   border-radius: 50px;
   align-items: center;
   
 }
            
 .icones_filtres {
   color: #0065fc;
   border: #0065fc;
   background-color: rgb(209, 223, 255);
   border: 10px rgb(209, 223, 255) solid;
   border-radius: 50px;
   min-width: 1.5rem;   
   font-size: 1.5em;
} 

.titres_filtres { 
  padding: 0 1rem;
  
}




