
body {
   font-family: "Raleway";
   display: flex;
   flex-direction: column;
   align-content: space-between;
}



header { 
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin-left: 25px;
}


h2 {
   font-weight: lighter;
}


a {
   text-decoration: none;
   color: black;
 }


nav { 
   display: flex;
   flex-direction: row;
   align-items: center; 
}



.lien_menu {
   display: flex;
   display: inline-block;
   flex-direction: row;
   justify-content: space-around;   
   padding: 50px;
}


.lien_menu:hover {
   border-top: 2px #0065fc solid;
}


footer { 
   background-color: #F2F2F2;
   color: black;
   display: flex;
   flex-direction: row;
   justify-content: space-between ;
   align-items: flex-start;
   margin-top: 100px;
   padding-right: 510px;
}


.bloc_footer { 
   display: flex;
   flex-direction: column;
   justify-content: space-around; 
}


.ancres_footer {
   line-height: 33px;
}

    

#section {
   border: 1px #F2F2F2 solid;
   height: 500px;
}

@media screen and (max-width: 768px) { }

