/*--------SECTION ACTIVITES--------*/    

.titre_activites {
  
}
 
#container_activites {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  border-radius: 20px;
  margin-top: 3rem;

}
    
.half_left {
  width: 47%;
  border-radius: 20px 20px 0 0 ;
  box-shadow: 5px 5px 15px lightgrey; 

}

.half_right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:47%;
   
}

.nom_activites {
padding-left: 1rem;
padding-top: 1rem;
padding-bottom: 1rem;

}

  /* CÔTÉ GAUCHE BLOC 1 */



.bloc_activites1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  

}


.image_activites_left {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;

}
   
.activites2 {
  height: 50%;
  box-shadow: 5px 5px 15px lightgrey;
  border-radius: 20px;
 
}

.activites3 {
  height: 43%;
  box-shadow: 5px 5px 15px lightgrey;
  border-radius: 20px;
 
}

.image_activites2 {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
    
}

.image_activites3 {
  width: 100%;
  height: 76.5%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
 
}

 /* CÔTÉ DROIT BLOC 2 */

.bloc_activites2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;

}

.half_left {
  width: 47%;
  box-shadow: 5px 5px 15px lightgrey; 
  border-radius: 20px;
 
}

.image_activites_left {
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;

}
 
.activites4 {
  width: 80%;
  
}

.activites5 {
  height: 43%;
  width: 100%;
  box-shadow: 5px 5px 15px lightgrey;
  border-radius: 20px;

}

.activites6 {
  height: 50%;
  width: 100%;
  box-shadow: 5px 5px 15px lightgrey;
  border-radius: 20px;

}

 .image_activites5 {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;

}

.image_activites6 {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;

}